*{
	margin: 0;
	padding: 0;
	font-size: 0;
	font-family: 'Archivo', sans-serif;
}

.page{
	width: 1000px;
}

.topLogo{
	margin-left: 250px;
	padding: 20px;
}

.header{
	background-color: #222931;
	width: 950px;
	height: 20px;
	margin-left: 250px;
	padding: 15px;
	position: relative;
	z-index: 1;
}

.header a{
	float: left;
	text-align: center;
	padding: 5px 20px;
	text-decoration: none;
	color: white;
	font-size: 15px;
}

.header a:hover{
	background-color: #ffe718;
}

.background{
	width: 1519px;
	position: absolute;
	margin-top: 45px;
  	left: 0px;
  	top: 0px;
}

.banner1{
	position: absolute;
	margin-top: 500px;
	margin-left: 250px;
}

.banner2{
	position: absolute;
	margin-top: 500px;
	margin-left: 600px;
}

.banner3{
	position: absolute;
	margin-top: 500px;
	margin-left: 950px;
}

.ribbon{
	width: 1519px;
	height: 100px;
	margin-top: 780px;
	background-color: #ffe718;
	position: absolute;
	
}

.ribbon h2{
	position: absolute;
	font-size: 34px;
	margin-left: 250px;
	padding-top: 30px;
	font-weight: 700;
}

.ribbon p{
	position: absolute;
	font-size: 16px;
	margin-left: 660px;
	margin-top: 45px;
	font-weight: 700;
	
}

#button2{
	position: absolute;
	width: 200px;
	height: 30px;
	margin-left: 1100px;
	margin-top: 35px;
	outline: none;
	border: none;
	color: black;
	font-size: 12px;
	font-weight: 500;
}

#button2:hover{
	background-color: #222931;
	color: white;
}

.footerImage{
	position: absolute;
	width: 1519px;
	height: 250px;
	margin-top: 945px;
}

.bannerDeals{
	position: absolute;
	width: 300px;
	height: 90px;
	font-size: 24px;
	background-color: #ffe718;
	margin-top: 1150px;
	margin-left: 250px;
}

.bannerDeals:hover{
	background-color: #222931;
	color: white;
}

i.fa.fa-handshake-o{
	float: left;
	font-size: 50px;
	margin-left: 15px;
	margin-top: 20px;
}

.banners h2{
	position: absolute;
	font-size: 22px;
	font-weight: 600;
	margin-top: 20px;
	margin-left: 100px;
}

.banners p{
	position: absolute;
	font-size: 14px;
	font-weight: 600;
	margin-top: 50px;
	margin-left: 100px;
}

.bannerService{
	position: absolute;
	width: 300px;
	height: 90px;
	font-size: 24px;
	background-color: #ffe718;
	margin-top: 1150px;
	margin-left: 600px;
}

.bannerService:hover{
	background-color: #222931;
	color: white;
}

i.fa.fa-briefcase{
	float: left;
	font-size: 50px;
	margin-left: 15px;
	margin-top: 20px;
}

.bannerContact{
	position: absolute;
	width: 300px;
	height: 90px;
	font-size: 24px;
	background-color: #ffe718;
	margin-top: 1150px;
	margin-left: 950px;	
}

.bannerContact:hover{
	background-color: #222931;
	color: white;
}

.bannerContact i{
	float: left;
	font-size: 50px;
	margin-left: 15px;
	margin-top: 20px;

}

.aboutUs{
	position: absolute;
	width: 500px;
	height: 200px;
	margin-top: 1350px;
	margin-left: 250px;

}

.aboutUs h2{
	position: absolute;
	font-size: 22px;
	font-weight: 600;
}

.aboutUs p{
	position: absolute;
	margin-top: 50px;
	line-height: 18px;
	font-size: 14px;
	font-weight: 600;
}

hr{
	position: absolute;
	width: 1000px;
	margin-top: 1300px;
	margin-left: 250px;
	height: 0; 
	border: 0; 
	border-top:1px solid grey; 
}

.contact{
	font-size: 24px;
	position: absolute;
	width: 400px;
	height: 100px;
	margin-top: 1350px;
	margin-left: 900px;
}

.contact h2{
	position: absolute;
	font-size: 22px;
	font-weight: 600;
}

.contact p{
	position: absolute;
	margin-top: 50px;
	line-height: 18px;
	font-size: 14px;
	font-weight: 600;
}

.menuText{
	width: 150px;
	height: 100px;
	font-size: 12px;
	margin-left: 100px; 
	border: solid red 2px;
	position: absolute;
	text-align: center;
}

.footerName{
	position: absolute;
	margin-top: 1650px;
	background-color: #222931;
	width: 1519px;
	height: 40px;
}

.footerName p{
	position: absolute;
	width: 200px;
	height: 10px;
	font-size: 12px;
	color: white;
	margin-left: 1100px;
	margin-top: 12px;
}


/*submenu*/

#button1:hover{
	background-color: #ffe718
	color: black;
}

.dropdown #button1 {
	font-size: 15px;
	border: none;
	outline: none;
	color: white;
	background-color: inherit;
}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: #222931 

}

.dropdownContent a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;

}


.dropdownContent a:hover {
  background-color: #ffe718;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dienstenText{
	position: absolute;
	margin-left: 250px;
	margin-top: 500px;
	font-size: 14px;
	color: black;
	width: 950px;
	height: 100px;
}

.dienstenText p{
	font-size: 15px;
	margin-top: 10px;

}

.dienstenText h2{
	font-size: 25px;
}

ul.breadcrumbs{
	position: absolute;
	width: 200px;
	height: 20px;
	margin-top: 465px;
	margin-left: 250px;
}

ul.breadcrumbs li{
	font-size: 13px;
	display: inline;
	margin-right: 10px;
}

ul.breadcrumbs li a{
	font-size: 13px;
	text-decoration: none;
}

ul.breadcrumbs li a:hover{
	text-decoration: underline;
}

.yellowText{
	color: yellow;
	font-size: 15px;
}

i{
	font-size: 20px;
	z-index: 2;
}

ul.contactIcons li{
	font-size: 14px;
	list-style: none;
	color: #aeb6be
}

ul.contactIcons li i{
	float: left;
	margin-right: 10px;
}

i.fa.fa-map-marker{
	font-size: 30px;
}

i.fa.fa-mobile{
	font-size: 40px;
}

.dienstenLink{
	color: black;
}

.dienstenLink:hover{
	color: white;
}